.floating-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.panel-content {
  padding: 10px;
  background-color: white;
  border-radius: 1%;
  border: 1px solid black;
  -webkit-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.75);
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.field-name {
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.error {
  color: red;
  text-align: center;
}
